
@media (max-width: 1024px) {
  .container {
    grid-template-columns: 200px 1fr;
  }
  .main-content {
    padding: 2rem;
  }

  .select-button {
    flex-direction: column;
    gap: 2rem;
    align-items: start;
    justify-content: flex-start;
    padding: 0;
  }
  .dropdown {
    width: 100%;
  }
  .date-search {
    padding: 0;
    margin-bottom: 2rem;
  }

  .average {
    margin-top: 2rem;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .length {
    width: 100%;
  }

  .button-part {
    justify-content: space-between;
    width: 100%;
  }

  .hospital-department {
    width: 100%;
  }

  .grid-conc {
    margin-top: 2rem;
    padding: 0;
    grid-template-columns: 1fr;
  }

  .operation,
  .analytics,
  .heat-map-action {
    grid-column: 1;
    grid-row: auto;
  }

  .charts-grid {
    grid-template-columns: 1fr;
  }

  .queue .queue-hd {
  }
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .btns {
    font-size: 1rem;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 80px 1fr;
  }

  .logo h2 {
    display: none;
  }

  .sidebar-link ul li a {
    font-size: 0;
    justify-content: center;
  }

  .sidebar-link ul li a span {
    font-size: 2.4rem;
  }

  .main {
    padding: 1.6rem;
  }

  .tabs {
    gap: 1rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 576px) {
  .page-title {
    font-size: 2.4rem;
  }

  .card {
    padding: 1.5rem;
  }

  .card h2 {
    font-size: 1.6rem;
  }

  .form-row,
  .email-preview {
    font-size: 1.2rem;
  }

  .footer-actions {
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
  }

  .form-actions {
    justify-content: center;
  }

  .btn {
    width: 100%;
    text-align: center;
  }
  .queue .queue-hd,
  .operation-hd,
  .analytics-hd {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    /* overflow-x: auto; */
  }
}
