@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.header {
  width: 100%;
  padding: 2rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eff3f6;
  position: fixed;
  top: 0;
  z-index: 2000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo img {
  height: 2.4rem;
  width: 2.4rem;
}

.logo p {
  color: #0e3995;
  font-size: 2.8rem;
  font-weight: 600;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #282828;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav-links a:hover {
  color: #0e3995;
}

.nav-links .active {
  color: #0e3995;
  font-weight: 600;
}

.nav-btn a {
  text-decoration: none;
  color: #0e3995;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 6rem;
}

.nav-btn a:hover {
  padding: 0.8rem 2.4rem;
  font-size: 1.6rem;
  border: none;
  outline: none;
  background-color: #0e3995;
  color: #fff;
  border-radius: 0.4rem;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12rem 10rem;
}
.first-part {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.first-part h1 {
  font-size: 6.4rem;
  font-weight: 600;
}

.first-part p {
  font-size: 1.6rem;
  color: #000;
  line-height: 1.6;
}
/* new section */
.sign-section {
  display: none;
  gap: 2rem;

  padding: 4rem;
}
.sign-section button {
  width: 100%;
  padding: 12px;
  background-color: #0e3995;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0.4rem 0.2rem rgba(0, 0, 0, 0.2);
}
.sign-section-2 {
  display: none;
  gap: 2rem;
  padding: 2rem;
}
.sign-section-2 button {
  width: 100%;
  padding: 12px;
  background-color: #0e3995;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}
.sub-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10rem;
  margin-bottom: 10rem;
}

.sub-section h2 {
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
  text-align: center;
}

.role {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.6rem;
}

.role-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.4rem;
  border: 1px solid #d1d5db;
  border-radius: 0.8rem;
  width: 34rem;
  height: 40rem;
  cursor: pointer;
  box-shadow: 0 0 0.4rem 0.4rem rgba(166, 193, 238, 0.251);
}

.role-card:hover {
  box-shadow: 0 0 1.2rem 0.4rem rgba(14, 57, 149, 0.2);
}

.role-card img {
  margin-bottom: 2rem;
}

.patient-role {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.patient-role h3 {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  text-align: center;
}

.patient-role p {
  color: #757575;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 500;
}

.staff-role {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.staff-role h3 {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  text-align: center;
}

.staff-role p {
  color: #757575;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 500;
}

.feature {
  width: 100%;
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eff3f6;
}
.feature h2 {
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.features-card {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.features-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2.2rem;
}

.info-text {
  display: flex;
  flex-direction: column;
}

.info-text-icon {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 0.4rem;
}

.info-text p {
  font-size: 1.6rem;
  font-weight: 600;
  color: #282828;
}

.work-section {
  width: 100%;
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-section h2 {
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.work-step {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.6rem;
}

.work h3 {
  font-size: 4rem;
  font-weight: 600;
  padding: 1rem 2rem;
  background-color: #0e3995;
  color: #fff;
  border-radius: 0.4rem;
  width: fit-content;
}

.work-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  width: 30rem;
  height: 30rem;
  text-align: center;
  box-shadow: 0 0 0.4rem 0.4rem rgba(166, 193, 238, 0.251);
  margin-top: 2rem;
  border-radius: 0.8rem;
  padding: 2.4rem;
  cursor: pointer;
}

.work-card:hover {
  box-shadow: 0 0 1.2rem 0.4rem rgba(14, 57, 149, 0.2);
}

.work-card-icon {
  font-size: 8rem;
}

.work-card h4 {
  font-size: 3.2rem;
  font-weight: 300;
}

.work-card p {
  font-size: 1.6rem;
  color: #757575;
  font-weight: 500;
}

#how {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 10rem;
  position: relative;
}

.our-info {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}

.our-info h2 {
  font-size: 4.8rem;
  font-weight: 600;
  color: #282828;
}

.our-info p {
  font-size: 1.6rem;
  color: #757575;
  text-align: center;
  font-weight: 500;
}

.carousel-wrap {
  width: 100%;
  overflow: hidden;
}

.carousel-card {
  display: flex;
  gap: 2.4rem;
  animation: scroll 10s linear infinite;
}

.card {
  flex: 0 0 auto;
  width: 40rem;
  height: 30rem;
  background: #eef2f7;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.4rem 0.2rem rgba(14, 57, 149, 0.251);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.card h3 {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  color: #282828;
}

.card p {
  font-size: 1.6rem;
  color: #757575;
  text-align: center;
  font-weight: 500;
}

#question {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5rem 10rem;
}

.freq-text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 50rem;
}

.freq-text h2 {
  font-size: 5rem;
  font-weight: 600;
  color: #282828;
}

.freq-text span {
  color: #0e3995;
  display: block;
}

.freq-img {
  width: 49rem;
  height: 42rem;
}

.most-asked {
  width: 100%;
  padding: 4rem 10rem;
  gap: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.most-asked-1 {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
  padding: 1rem 1.6rem;
  border: 1px solid #aaaaaa;
  background-color: #eff3f6;
  border-radius: 0.8rem;
}

.most-asked-1 h3 {
  color: #282828;
  font-size: 2rem;
  font-weight: 600;
}

.most-asked-1 p {
  color: #282828;
  font-size: 1.6rem;
  font-weight: 500;
}

.semi-footer {
  width: 100%;
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.semi-footer-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.semi-footer-header h2 {
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
  text-align: center;
  color: #282828;
}

.semi-footer-header p {
  color: #757575;
  font-size: 1.6rem;
  text-align: center;
}

.semi-footer-btn {
  text-align: center;
  margin-top: 4rem;
}

.semi-footer-btn a {
  text-decoration: none;
  color: #0e3995;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 1.2rem 3.2rem;
  font-size: 1.8rem;
  border: none;
  outline: none;
  background-color: #0e3995;
  color: #fff;
  border-radius: 0.8rem;
}

.footer {
  width: 100vw;
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eff3f6;
  box-sizing: border-box;
  margin-top: 8rem;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin-bottom: 2rem;
}
.footer-logo h3 {
  font-size: 2.4rem;
  color: #0e3995;
}

.footer-brand p {
  color: #282828;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

.footer-top {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.newsletter {
  display: flex;
  max-width: 500px;
  width: 100%;
}

.newsletter input {
  padding: 12px;
  border: 1px solid #0a2a7a;
  border-radius: 8px 0 0 8px;
  flex: 1;
  outline: none;
}

.newsletter button {
  background: #0a2a7a;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: 0.3s;
}

.newsletter button:hover {
  background: #07306d;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 10rem;
  width: 100%;
}

.footer-links h4 {
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: bold;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin: 8px 0;
}

.footer-links ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: #0a2a7a;
}

.social i {
  margin-right: 8px;
  color: #0a2a7a;
}

.footer-bottom {
  width: 100%;
  max-width: 1200px;
  border-top: 1px solid #ddd;
  padding-top: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  text-align: center;
}

.footer-bottom-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-bottom-links a {
  text-decoration: none;
  font-size: 13px;
  color: #333;
}

.footer-bottom-links a:hover {
  color: #0a2a7a;
}

/*barz button*/
.bars button {
  max-width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 10px;
  color: inherit;
  background-color: transparent;
}
.bars {
  display: none;
}
.fa-bars {
  font-size: 29px;
  color: #000;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 2rem 4rem;
  }

  .logo p {
    font-size: 2.4rem;
  }

  .nav-links {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  .main-section {
    padding: 10rem 4rem 2rem 4rem;
    gap: 5rem;
  }

  .sub-section {
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    margin-bottom: 5rem;
  }
  .sub-section h2 {
    font-size: 4rem;
  }
  .role {
    flex-direction: column;
    gap: 3.6rem;
  }

  .feature {
    padding: 3rem 4rem;
  }

  .features-card {
    flex-direction: column;
    gap: 3.6rem;
  }
  .features-img {
    width: 60rem;
    height: 60rem;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
  .features-img img {
    width: 100%;
    height: auto;
  }

  .work-section {
    padding: 5rem 4rem;
  }

  .work-step {
    flex-direction: column;
    gap: 3.6rem;
  }

  #how {
    padding: 5rem 4rem;
  }
  #question {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 4rem;
    gap: 3rem;
  }
  .freq-text h2 {
    font-size: 4.8rem;
    text-align: center;
    padding: 0 1rem;
    line-height: 1.2;
  }
  .freq-img {
    width: 40rem;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
  .freq-img img {
    width: 100%;
    height: auto;
  }
  .most-asked {
    padding: 4rem 4rem;
  }
  .most-asked-1 {
    padding: 1rem 1.2rem;
    font-size: 1.4rem;
    line-height: 1.4;
    gap: 0.2rem;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
    width: 100%;
  }
  .semi-footer {
    padding: 5rem 4rem;
    margin-left: 0;
  }
  .semi-footer-header h2 {
    font-size: 4.8rem;
    line-height: 1.2;
    text-align: center;
  }
  .semi-footer-header p {
    font-size: 1.6rem;
    line-height: 1.4;
    text-align: center;
  }
  .semi-footer-img-btn {
    width: 40rem;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    padding: 0 1rem;
    margin-left: 0;
  }
  .our-info p {
    font-size: 1.6rem;
    line-height: 1.4;
    text-align: center;
  }
  .our-info h2 {
    font-size: 4.8rem;
    line-height: 1.2;
    text-align: center;
  }
  .semi-footer-img-btn img {
    width: 100%;
    height: auto;
  }
  .footer {
    padding: 5rem 4rem;
  }
}
@media screen and (max-width: 900px) {
  .role-card {
    width: 30rem;
    height: 36rem;
  }
}
@media screen and (max-width: 820px) {
  .first-part h1 {
    font-size: 4.8rem;
  }
  .first-part p {
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 400;
  }
  .role-card {
    width: 28rem;
    height: 40rem;
  }
  .second-part {
    width: 100%;
    height: 38rem;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    padding: 0 2rem;
    display: flex;
  }
  .second-part img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 2rem 2rem;
  }

  .logo p {
    font-size: 2.4rem;
  }

  .nav-links {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  .main-section {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10rem 2rem 2rem 3rem;
    gap: 2rem;
  }

  .sub-section {
    padding: 0 2rem;
    margin-bottom: 5rem;
    gap: 2rem;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .sub-section h2 {
    font-size: 3.6rem;
  }
  .role {
    flex-direction: column;
    gap: 3.6rem;
  }

  .feature {
    padding: 3rem 2rem;
    width: 100%;
    max-width: 500px;
  }

  .features-card {
    flex-direction: column;
    gap: 3.6rem;
  }
  .features-img {
    width: 35rem;
    height: 35rem;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
  }
  .features-img img {
    width: 100%;
    height: auto;
  }

  .work-section {
    padding: 5rem 2rem;
  }

  .work-step {
    flex-direction: column;
    gap: 3.6rem;
  }
}
@media screen and (max-width: 650px) {
  .work h3 {
    font-size: 3.2rem;
    padding: 1rem 2rem;
  }
  #how {
    padding: 5rem 2rem;
  }
  #question {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;
    gap: 3rem;
  }
  .freq-text h2 {
    font-size: 3.6rem;
    text-align: center;
    padding: 0 1rem;
    line-height: 1.2;
  }
  .freq-img {
    width: 28rem;
    height: 28rem;
    align-items: center;
    justify-content: center;
    margin-left: 10rem;
  }
  .freq-img img {
    width: 100%;
    height: auto;
  }
  .most-asked {
    padding: 4rem 2rem;
  }
  .most-asked-1 {
    padding: 1rem 1.2rem;
    font-size: 1.4rem;
    line-height: 1.4;
    gap: 0.2rem;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
    width: 100%;
  }
  .semi-footer {
    padding: 5rem 2rem;
    margin-left: 0;
  }
  .semi-footer-header h2 {
    font-size: 3.6rem;
    line-height: 1.2;
    text-align: center;
  }
  .semi-footer-header p {
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: center;
  }
  .semi-footer-img-btn {
    width: 28rem;
    height: 28rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    padding: 0 1rem;
    margin-left: 0;
  }
  .our-info p {
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: center;
  }
  .our-info h2 {
    font-size: 3.6rem;
    line-height: 1.2;
    text-align: center;
  }
  .semi-footer-img-btn img {
    width: 100%;
    height: auto;
  }
  .footer {
    padding: 5rem 2rem;
  }
}
@media screen and (max-width: 600px) {
  .sign-section {
    display: flex;
  }
  .sign-section button {
    font-size: 1.4rem;
    padding: 11px;
    border-radius: 20px;
    font-weight: 400;
    box-shadow: 0 0.01rem rgba(0, 0, 0, 0.021);
  }
  .sign-section-2 {
    display: flex;
  }
  .sign-section-2 button {
    font-size: 1.4rem;
    padding: 11px;
    border-radius: 20px;
    font-weight: 400;
    box-shadow: 0 0.01rem rgba(0, 0, 0, 0.021);
  }
}
@media screen and (max-width: 540px) {
  body {
    overflow-x: hidden;
  }
  .first-part {
    width: 100%;
    gap: 2rem;
  }
}
@media screen and (max-width: 500px) {
  /* Styles for screens up to 488px wide */
  body {
    overflow-x: hidden;
  }
  .first-part {
    width: 100%;
    gap: 2rem;
  }

  .first-part h1 {
    font-size: 3.4rem;
  }
  .first-part p {
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 400;
  }
  .role-card {
    width: 28rem;
    height: 40rem;
  }
  .second-part {
    width: 100%;
    height: 38rem;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    padding: 0 2rem;
    display: flex;
  }
  .second-part img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .sign-section {
    display: flex;
  }
  .sign-section button {
    font-size: 1.4rem;
    padding: 11px;
    border-radius: 20px;
    font-weight: 400;
    box-shadow: 0 0.01rem rgba(0, 0, 0, 0.021);
  }
  .header {
    padding: 2rem 2rem;
  }

  .logo p {
    font-size: 2.4rem;
  }

  .nav-links {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  .main-section {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10rem 2rem 2rem 3rem;
    gap: 2rem;
  }

  .sub-section {
    padding: 0 2rem;
    margin-bottom: 5rem;
    gap: 2rem;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .sub-section h2 {
    font-size: 3.6rem;
  }
  .role {
    flex-direction: column;
    gap: 3.6rem;
  }

  .feature {
    padding: 3rem 2rem;
    width: 100%;
    max-width: 500px;
  }

  .features-card {
    flex-direction: column;
    gap: 3.6rem;
  }
  .features-img {
    width: 35rem;
    height: 35rem;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
  }
  .features-img img {
    width: 100%;
    height: auto;
  }

  .work-section {
    padding: 5rem 2rem;
  }

  .work-step {
    flex-direction: column;
    gap: 3.6rem;
  }
  .work h3 {
    font-size: 3.2rem;
    padding: 1rem 2rem;
  }

  #how {
    padding: 5rem 2rem;
  }
  #question {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;
    gap: 3rem;
  }
  .freq-text h2 {
    font-size: 3.6rem;
    text-align: center;
    padding: 0 1rem;
    line-height: 1.2;
  }
  .freq-img {
    width: 28rem;
    height: 28rem;
    align-items: center;
    justify-content: center;
    margin-left: 10rem;
  }
  .freq-img img {
    width: 100%;
    height: auto;
  }
  .most-asked {
    padding: 4rem 2rem;
  }
  .most-asked-1 {
    padding: 1rem 1.2rem;
    font-size: 1.4rem;
    line-height: 1.4;
    gap: 0.2rem;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
    width: 100%;
  }
  .semi-footer {
    padding: 5rem 1rem;
    margin-left: 3rem;
  }
  .semi-footer-header h2 {
    font-size: 3.6rem;
    line-height: 1.2;
    text-align: left;
  }
  .semi-footer-header p {
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: left;
  }
  .semi-footer-img-btn {
    width: 28rem;
    height: 28rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    padding: 0 1rem;
  }
  .our-info p {
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: center;
  }
  .our-info h2 {
    font-size: 3.6rem;
    line-height: 1.2;
    text-align: center;
  }

  .semi-footer-img-btn img {
    width: 100%;
    height: auto;
  }
  .footer {
    padding: 5rem 2rem;
  }
  .footer-links {
    flex-direction: row;
    padding: 4rem 2rem;
    gap: 3rem;
    align-items: self-start;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 3rem;
  }
  .bars {
    display: block;
  }
  .bars button {
    max-width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 10px;
    color: inherit;
    background-color: transparent;
  }
  .fa-bars {
    font-size: 29px;
    color: #000;
  }
  .sign-section-2 {
    display: flex;
    margin-top: 0rem;
    padding-top: 0rem;
    align-items: center;
    justify-content: center;
  }
  .sign-section-2 button {
    font-size: 1.4rem;
    padding: 11px;
    border-radius: 10px;
    font-weight: 400;
    box-shadow: 0 0.01rem rgba(0, 0, 0, 0.021);
  }

  .semi-footer-btn {
    display: none;
  }
  .footer-links h4 {
    font-size: 14px;
  }
}
@media screen and (max-width: 430px) {
  .role-card {
    width: 22rem;
    height: 30rem;
  }
  .role-card img {
    height: 8rem;
    width: 8rem;
  }
  .role-card h3 {
    font-size: 2.4rem;
  }
  .role-card p {
    font-size: 1.4rem;
  }
  .second-part {
    width: 100%;
    height: 28rem;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    padding: 0 2rem;
    display: flex;
  }
  .second-part img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .sign-section button {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 20px;
    font-weight: 400;
    box-shadow: 0 0.01rem rgba(0, 0, 0, 0.021);
  }
}
@media screen and (max-width: 380px) {
  .role-card {
    width: 18rem;
    height: 25rem;
  }
  .role-card img {
    height: 6rem;
    width: 6rem;
  }
  .role-card h3 {
    font-size: 2rem;
  }
  .feature {
    padding: 3rem 1rem;
    width: 100%;
    max-width: 400px;
  }
  .features-card p {
    font-size: 1.2rem;
  }
  .features-card {
    padding-left: 2rem;
  }
  .role-card p {
    font-size: 1.2rem;
  }
  .second-part {
    width: 100%;
    height: 22rem;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    padding: 0 2rem;
    display: flex;
  }
  .second-part img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .sign-section button {
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 20px;
    font-weight: 400;
    box-shadow: 0 0.01rem rgba(0, 0, 0, 0.021);
  }
}
@media screen and (max-width: 320px) {
  .role-card {
    width: 15rem;
    height: 22rem;
  }
  .role-card img {
    height: 5rem;
    width: 5rem;
  }
  .role-card h3 {
    font-size: 1.8rem;
  }
  .role-card p {
    font-size: 1.1rem;
  }
  .second-part {
    width: 100%;
    height: 20rem;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    padding: 0 2rem;
    display: flex;
  }
  .second-part img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
